(
    indent: 0,
    body: Line([
    ]),
    children: [
        (
            indent: 0,
            body: Line([
                Text("Example outline"),
            ]),
            children: [
            ],
        ),
        (
            indent: 0,
            body: Line([
                Text("Important line"),
                ImportanceMarker,
            ]),
            children: [
            ],
        ),
        (
            indent: 0,
            body: Line([
                Text("Line with url "),
                Url("http://example.com/"),
            ]),
            children: [
            ],
        ),
        (
            indent: 0,
            body: Line([
                WikiWord("WikiTitle"),
            ]),
            children: [
                (
                    indent: 0,
                    body: Line([
                        AliasDefinition("Alias"),
                    ]),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        TagLink("tag"),
                    ]),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        TagLink("tag2"),
                        Text(" "),
                        TagLink("tag3"),
                    ]),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        Text("Out of the header"),
                    ]),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        AliasDefinition("Not-alias"),
                    ]),
                    children: [
                    ],
                ),
            ],
        ),
        (
            indent: 0,
            body: Line([
                Text("Blocks test"),
            ]),
            children: [
                (
                    indent: 0,
                    body: Line([
                        Text("Two blocks"),
                    ]),
                    children: [
                        (
                            indent: 0,
                            body: Block(
                                indent_line: None,
                                syntax: Some("syntax"),
                                prefix: ";",
                                lines: [
                                    "one",
                                ],
                            ),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Block(
                                indent_line: None,
                                syntax: Some("syntax"),
                                prefix: ";",
                                lines: [
                                    "two",
                                ],
                            ),
                            children: [
                            ],
                        ),
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        Text("Space indent"),
                    ]),
                    children: [
                        (
                            indent: 0,
                            body: Block(
                                indent_line: None,
                                syntax: None,
                                prefix: "",
                                lines: [
                                    "spaced",
                                    "",
                                    "must handle empty lines...",
                                ],
                            ),
                            children: [
                            ],
                        ),
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        Text("Other"),
                    ]),
                    children: [
                        (
                            indent: 0,
                            body: Block(
                                indent_line: None,
                                syntax: None,
                                prefix: ":",
                                lines: [
                                    "block",
                                ],
                            ),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Block(
                                indent_line: None,
                                syntax: None,
                                prefix: ">",
                                lines: [
                                    "block",
                                ],
                            ),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Block(
                                indent_line: None,
                                syntax: None,
                                prefix: "<",
                                lines: [
                                    "block",
                                ],
                            ),
                            children: [
                            ],
                        ),
                    ],
                ),
                (
                    indent: 0,
                    body: Block(
                        indent_line: Some([
                            Text("Indent 1"),
                        ]),
                        syntax: None,
                        prefix: ">",
                        lines: [
                            "Indented",
                            "",
                            "block",
                        ],
                    ),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Block(
                        indent_line: Some([
                            Text("Indent 2"),
                        ]),
                        syntax: None,
                        prefix: ";",
                        lines: [
                            "stuff",
                            "",
                            "More stuff",
                        ],
                    ),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Block(
                        indent_line: Some([
                            Text("Indent3"),
                        ]),
                        syntax: None,
                        prefix: "```",
                        lines: [
                            "test",
                        ],
                    ),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Block(
                        indent_line: Some([
                            Text("Indent3"),
                        ]),
                        syntax: Some("with a syntax"),
                        prefix: "```",
                        lines: [
                            "test too",
                        ],
                    ),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Block(
                        indent_line: Some([
                            Text("Indent4"),
                        ]),
                        syntax: None,
                        prefix: "\'\'\'",
                        lines: [
                            "foo",
                        ],
                    ),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Block(
                        indent_line: Some([
                            Text("Indent4"),
                        ]),
                        syntax: Some("syntax"),
                        prefix: "\'\'\'",
                        lines: [
                            "bar",
                        ],
                    ),
                    children: [
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        Text("Tables"),
                    ]),
                    children: [
                        (
                            indent: 0,
                            body: Line([
                                Text("| Table | mode |"),
                            ]),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Line([
                                Text("|-------+------|"),
                            ]),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Line([
                                Text("| 1     | 2    |"),
                            ]),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Line([
                                Text("| 3     | 4    |"),
                            ]),
                            children: [
                            ],
                        ),
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        Text("Links"),
                    ]),
                    children: [
                        (
                            indent: 0,
                            body: Line([
                                Text("To "),
                                WikiWord("WikiWord"),
                            ]),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Line([
                                Text("To "),
                                FileLink("./local-file.txt"),
                            ]),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Line([
                                Text("To "),
                                InlineImage("image.png"),
                            ]),
                            children: [
                            ],
                        ),
                        (
                            indent: 0,
                            body: Line([
                                Text("To "),
                                AliasLink("Alias"),
                            ]),
                            children: [
                            ],
                        ),
                    ],
                ),
                (
                    indent: 0,
                    body: Line([
                        Text("Multiple depths indent"),
                    ]),
                    children: [
                        (
                            indent: 1,
                            body: Line([
                                Text("Indent"),
                            ]),
                            children: [
                                (
                                    indent: 2,
                                    body: Line([
                                        Text("Go"),
                                    ]),
                                    children: [
                                        (
                                            indent: 2,
                                            body: Line([
                                                Text("Deep!"),
                                            ]),
                                            children: [
                                            ],
                                        ),
                                    ],
                                ),
                                (
                                    indent: 1,
                                    body: Line([
                                        Text("Back up"),
                                    ]),
                                    children: [
                                    ],
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
